<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>This is a Home page</h1>
    <h3><%= ["Hello","Namaste","bonjour"][2]%></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sed molestias, tenetur recusandae harum illo et. Aliquid, iusto! Quasi molestiae eligendi harum commodi inventore voluptatem ab esse et voluptates soluta.</p>
    <button>Click Me!</button>
</body>
</html>